@import url("https://fonts.googleapis.com/");
@import url("https://fonts.googleapis.com/css?family=Ubuntu|Audiowide|Sofia|Trirong|Cutive");
@import url("https://fonts.google.com/css?family=Cutive");

.frontpage > h1, h2{
    /* font-family: 'Courier Prime', monospace; */

}

.frontpage{
}

body{
    margin-top: 30px;
}

#otsikko-kuva{
    position: relative;
    display: grid;
}

#otsikko-kuva img{  
    width: 100%;
    z-index: 1;
    text-align: center;
}
#kuvateksti {
    position: absolute;
    color: white;
    left: 25%;
    right: 25%;
    top: 30%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "Cutive", monospace;
    /*  font-family: 'Fira Sans', sans-serif;   */
    /* font-style: italic; */
}

#lore-ipsum{
    margin-top: 5em;
    padding: 10px;
    margin-inline: auto;
    width: 75%;
}