@import url("https://fonts.googleapis.com/");
@import url("https://fonts.googleapis.com/css?family=Ubuntu|Audiowide|Sofia|Trirong|Cutive");
@import url("https://fonts.google.com/css?family=Cutive");

.frontpage{
    text-align: center;
    margin: 0px;   
    width: 100%;
    margin-top: 0px;
    color: black;
}


.otsikko{
    background-image: url('../images/IMG_3263.jpeg');
    background-size: 100%;
    color: #f2f2f2;
    width: 100%;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier Prime', monospace;
    text-transform: uppercase;
}

.linkki{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}


.bookmarks-container{
    margin-top: 0px;
    margin-inline: auto;
    width: 75%;
}

.bookmarks-container > * {
    margin: 20px;
    margin-inline: auto;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: center;
    gap: 50px;
    height: 8rem;
}

.bookmarks-container > * > a{
    background-color: rgb(216, 216, 216);
    padding: 50px;
}







/*      


KÄYTETTY NÄTISSÄ KUVASSA, MIKÄ EI OLE ENÄÄ TÄSSÄ KÄYTÖSSÄ


#otsikko-kuva{
    position: relative;
    display: grid;
}

#otsikko-kuva img{  
    width: 100%;
    z-index: 1;
    text-align: center;
}
#kuvateksti {
    position: absolute;
    color: white;
    left: 25%;
    right: 25%;
    top: 30%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "Cutive", monospace;
} */