.login{
    margin-top: 100px;
}


.login-form {
    
    /*  div:in keskitys */
    width: 50%;
    margin: auto;

    /*      padding     */
    padding: 50px;
    
    /*      grid määrittelyt        */
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    

    background-color: rgba(192, 192, 192, 0.896);
    border-radius: 15px;
}

.login-form-user {
    margin: 30px;
}

.login-form-label {
    text-align: center;
    font-size: large;
}

.login-form-input {
    width: 95%;
}

.nappi-container{
    margin-top: 30px;

}

.login-form-input[type=text]{
    border: none;
    border-bottom: 2px solid red;
}

.login-form-input[type=password]{
    border: none;
    border-bottom: 2px solid red;
}

button {
    right: 0px;
}