@import url("https://fonts.googleapis.com/css2");

/*  

    Navigation bar on kiinni yläosassa.
    Ilman tätä h1 (ja ehkä muutkin) jättävät 21px marigin

*/
.navigation-bar > *{
    margin: 0px;
}


/*
    Navbaari pakotetaan "päällimäiseksi" z-indexillä
*/
.navigation-bar {
    height: 4rem;
    top: 0;
    width: 100%;
    background-color: #343A40;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navigation-bar-title {
    display: flex;
    align-items:center;
    font-size:larger;
    color: white;
    text-decoration: none;
    font-family: monospace;
    /*
        'Courier Prime', 'Courier Prime', 
    */
    margin-inline: 10px;
    margin-block: 5px;
    text-align: left;
}

.navigation-bar-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navigation-bar-links{
    color: white;
    font-size: medium;
    margin-block: 5px;
    text-align: start;
    text-decoration: none;
    justify-content: flex-start;
}



.navigation-bar-link{
    color: white;
    font-size: medium;
    margin-block: 5px;
    text-align: start;
    text-decoration: none;
    justify-content: flex-start;
}

.navigation-bar-login {
    display: flex;
    align-items:center;
    font-size: medium;
    margin-block: 5px;
    margin-right: 15px;
    text-align: end;
    color: white;
    text-decoration: none;
    justify-content: flex-end;
}


.navigation-bar-login > a {
    margin: 5px;
}


.navigation-bar-logout{  
    right: 0;
    font-size: medium;
    margin-block: 5px;
    margin-right: 15px;
    text-align: end;
    color: white;
    text-decoration: none;
    justify-content: flex-end;
}