.newsTitle{
    color: azure;
}
.newsline{
    display: grid;
    width: 50%;
    justify-content: center;
    margin-inline: auto;
    border-style: solid;
}

.newsline p{
    display: inline;
    width: 100%;
    color: azure;
    margin-inline: auto;
    text-align: left;
}
